<div class="page" fxLayout="column" fxLayoutAlign="center center">
  <div class="card border-radius elevation">
    <div class="header padding" fxLayout="column" fxLayoutAlign="center center">
      <img src="/assets/img/icon.png">
    </div>
    <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input matInput required formControlName="email">
          <mat-hint>Enter your mail to recover your password.</mat-hint>
          <mat-error *ngIf="form.get('email').hasError('required')">
            We can't recover your password, without your email.
          </mat-error>
        </mat-form-field>
      </div>

      <button type="button" color="primary" mat-raised-button (click)="send()">
        SEND RECOVERY LINK
      </button>
    </div>
  </div>
</div>
