@import "var";

:host {
  display: block;
}

.subheading {
  @include mat-typography-level-to-styles($config, caption);
  color: $sidenav-item-color;
  margin-left: $sidenav-item-padding-left + 2px;
  margin-top: $spacing;
  margin-bottom: $spacing/2;
  font-weight: 500;
  transition: 300ms $swift-ease-in-out-timing-function;
  white-space: nowrap;

  &.collapsed {
    opacity: 0;
  }

  &.first-subheading {
    margin-top: 4px;
    margin-bottom: 6px;
  }
}

.sidenav-item {
  height: $sidenav-item-height;
  padding-left: $sidenav-item-padding-left;
  padding-right: $sidenav-item-padding-right;
  color: $sidenav-item-color;
  font-size: $sidenav-item-font-size;
  position: relative;
  cursor: pointer;
  border-left: $sidenav-item-active-border-width solid transparent;
  outline: none;
  user-select: none;
  white-space: nowrap;
  transition: color .1s cubic-bezier(.35, 0, .25, 1);

  .icon {
    width: $sidenav-item-icon-font-size;
    height: $sidenav-item-icon-font-size;
    font-size: $sidenav-item-icon-font-size;
    line-height: $sidenav-item-icon-font-size;
  }

  .name {
    padding-left: $sidenav-item-padding-left;
  }

  .badge {
    padding: $spacing/6 $spacing/3;
    font-size: 12px;
    background: #2196F3;
    border-radius: 12px;
    color: #FFF;

    & + .expand-indicator {
      margin-left: 8px;
    }
  }

  .expand-indicator {
    transition: transform .25s cubic-bezier(.35, 0, .25, 1);

    &.rotate {
      transform: rotate(-180deg);
    }
  }

  &:hover {
    background: $sidenav-background-hover;
    color: $sidenav-item-color-hover;
  }

  &.active {
    background: $sidenav-background-active;
    color: $sidenav-item-color-hover;
    border-left-color: white;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .name, .badge, .expand-indicator {
    will-change: opacity;
  }

  &.collapsed {
    .name, .badge, .expand-indicator {
      animation-name: fadeout;
      animation-duration: 300ms;
      animation-direction: normal;
      animation-timing-function: cubic-bezier(.25, .8, .25, 1);
    }
  }

  // Dropdown Levels
  &.level-2 {
    background: $sidenav-background-level2;
    padding-left: $sidenav-item-padding-left-level2;

    &:hover {
      background: $sidenav-background-level2-hover;
    }

    &.active {
      background: $sidenav-background-level2-active;
    }
  }

  &.level-3 {
    background: $sidenav-background-level3;
    padding-left: $sidenav-item-padding-left-level3;

    &:hover {
      background: $sidenav-background-level3-hover;
    }

    &.active {
      background: $sidenav-background-level3-active;
    }
  }

  &.level-4 {
    background: $sidenav-background-level4;
    padding-left: $sidenav-item-padding-left-level4;

    &:hover {
      background: $sidenav-background-level4-hover;
    }

    &.active {
      background: $sidenav-background-level4-active;
    }
  }

  &.level-5 {
    background: $sidenav-background-level5;
    padding-left: $sidenav-item-padding-left-level5;

    &:hover {
      background: $sidenav-background-level5-hover;
    }

    &.active {
      background: $sidenav-background-level5-active;
    }
  }

  &.level-6 {
    background: $sidenav-background-level6;
    padding-left: $sidenav-item-padding-left-level6;

    &:hover {
      background: $sidenav-background-level6-hover;
    }

    &.active {
      background: $sidenav-background-level6-active;
    }
  }
}

.dropdown {
  position: relative;
  overflow: hidden;

  &:before, &:after {
    content: " ";
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 3;
  }

  &:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, .3) 0, transparent);
    top: 0;
  }

  &:after {
    background: linear-gradient(-180deg, rgba(0, 0, 0, .3) 0, transparent);
    bottom: 0;
  }
}
