<div class="padding">
  <fury-breadcrumbs current="Form Elements" [crumbs]="['Forms']"></fury-breadcrumbs>

  <div fxLayout="column" [fxLayoutGap]="gap">

    <div fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch"
         [fxLayoutGap]="gap">

      <fury-card class="basic-forms route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col2">
        <fury-card-header>
          <fury-card-header-title>Basic Forms</fury-card-header-title>
          <fury-card-header-sub-title>Simple Material Form Input Elements</fury-card-header-sub-title>
          <fury-card-header-actions>
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showBasicFormSource=!showBasicFormSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content fxLayout="column">
          <div class="source" *ngIf="showBasicFormSource">
            <code class="html" furyHighlight [innerHTML]="basicFormSource"></code>
          </div>
          <div class="result" fxLayout="column">
            <mat-form-field>
              <mat-label>Company</mat-label>
              <input matInput required>
            </mat-form-field>
            <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <mat-form-field fxFlex>
                <mat-label>First Name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field fxFlex>
                <mat-label>Last Name</mat-label>
                <input matInput required>
              </mat-form-field>
            </div>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput [type]="inputType" value="Hello!" required>
              <button type="button" mat-icon-button matSuffix (click)="togglePassword()">
                <mat-icon *ngIf="visible">visibility</mat-icon>
                <mat-icon *ngIf="!visible">visibility_off</mat-icon>
              </button>
              <mat-hint>Try clicking the eye to toggle the visibility.</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Hint Label and Max Length</mat-label>
              <input matInput #lengthHint maxlength="10" required>
              <mat-hint align="start">Try to type in more than 10 letters</mat-hint>
              <mat-hint align="end">{{lengthHint.value.length}}/10</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Disabled</mat-label>
              <input matInput disabled>
            </mat-form-field>
          </div>
        </fury-card-content>
      </fury-card>

      <fury-card class="advanced-forms route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col2">
        <fury-card-header>
          <fury-card-header-title>Advanced Forms</fury-card-header-title>
          <fury-card-header-sub-title>Form Input Variations</fury-card-header-sub-title>
          <fury-card-header-actions>
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showAdvancedFormSource=!showAdvancedFormSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content fxLayout="column">
          <div class="source" *ngIf="showAdvancedFormSource">
            <code class="html" furyHighlight [innerHTML]="advancedFormSource"></code>
          </div>
          <div class="result" fxLayout="column">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <mat-form-field color="primary" fxFlex.gt-sm>
                <mat-label>Primary Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field color="accent" fxFlex.gt-sm>
                <mat-label>Accent Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field color="warn" fxFlex.gt-sm>
                <mat-label>Warn Color</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput value="DavidSmith">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm>
              <mat-label>Mobile Phone</mat-label>
              <input matInput required>
              <mat-icon matPrefix>smartphone</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select>
                <mat-option>New York</mat-option>
                <mat-option>Washington</mat-option>
                <mat-option>Florida</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="datepickerRef">
              <mat-datepicker-toggle matSuffix [for]="datepickerRef"></mat-datepicker-toggle>
              <mat-hint>Click on the icon to the right for a Datepicker</mat-hint>
            </mat-form-field>
            <mat-datepicker #datepickerRef></mat-datepicker>
          </div>
        </fury-card-content>
      </fury-card>
    </div>

    <div fxFlex="noshrink"
         fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start stretch"
         [fxLayoutGap]="gap">

      <fury-card class="form-theming route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col3">
        <fury-card-header>
          <fury-card-header-title>Form Theming</fury-card-header-title>
          <fury-card-header-sub-title>Style Components using the Theme API</fury-card-header-sub-title>
          <fury-card-header-actions fxLayout="row">
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormThemingSource=!showFormThemingSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>

        <fury-card-content fxLayout="column">
          <div class="source" *ngIf="showFormThemingSource">
            <code class="html" furyHighlight [innerHTML]="formThemingSource"></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">By using the Theme API all Form
            Elements can be styled simply with either the primary, accent or warn color. Focus the inputs
            below to see the colors.</p>
            <mat-form-field color="primary">
              <mat-label>Primary Color</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field color="accent">
              <mat-label>Accent Color</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field color="warn">
              <mat-label>Warn Color</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </fury-card-content>
      </fury-card>

      <fury-card class="form-prefix-suffix route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col3">
        <fury-card-header>
          <fury-card-header-title>Form Prefix/Suffix</fury-card-header-title>
          <fury-card-header-sub-title>Prefix and Suffix text or icons</fury-card-header-sub-title>
          <fury-card-header-actions>
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormPrefixSuffixSource=!showFormPrefixSuffixSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content fxLayout="column">
          <div class="source" *ngIf="showFormPrefixSuffixSource">
            <code class="html" furyHighlight [innerHTML]="formPrefixSuffixSource"></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">Add a Prefix and Suffix to an input
            field, from text to icons or symbols, anything and any element can be set as prefix or
            suffix.</p>
            <mat-form-field><span matPrefix>+1 &nbsp;</span>
              <mat-label>Input with prefix text</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Input with suffix icon</mat-label>
              <input matInput>
              <mat-icon matSuffix>menu</mat-icon>
            </mat-form-field>
            <mat-form-field><span matPrefix>http:// &nbsp;</span>
              <mat-label>Input with prefix text and suffix icon</mat-label>
              <input matInput>
              <mat-icon matSuffix>camera</mat-icon>
            </mat-form-field>
          </div>
        </fury-card-content>
      </fury-card>

      <fury-card class="form-hint-label route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col3">
        <fury-card-header>
          <fury-card-header-title>Form Hint Label</fury-card-header-title>
          <fury-card-header-sub-title>Hints for explanations or extra info</fury-card-header-sub-title>
          <fury-card-header-actions class="actions" fxLayout="row">
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormHintLabelSource=!showFormHintLabelSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content class="content" fxLayout="column">
          <div class="source" *ngIf="showFormHintLabelSource">
            <code class="html" furyHighlight [innerHTML]="formHintLabelSource"></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">When you need to display additional
            information to the user you can use Hint Labels to display information appropriately.</p>
            <mat-form-field>
              <mat-label>Email Address</mat-label>
              <input matInput>
              <mat-hint>e.g. david@example.com</mat-hint>
            </mat-form-field>
            <mat-form-field floatPlaceholder="never">
              <mat-label>Domain Name</mat-label>
              <input matInput #hintLabelInputRef>
              <mat-hint align="end">http://{{hintLabelInputRef.value || "company"}}.example.com</mat-hint>
            </mat-form-field>
            <mat-form-field floatPlaceholder="never">
              <mat-label>Dynamic Hint Label</mat-label>
              <input matInput #hintLabelInputLengthRef maxlength="10">
              <mat-hint align="start">Try to type in more than 10 letters</mat-hint>
              <mat-hint align="end">{{hintLabelInputLengthRef.value.length}}/10</mat-hint>
            </mat-form-field>
          </div>
        </fury-card-content>
      </fury-card>
    </div>

    <div fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch"
         [fxLayoutGap]="gap">
      <fury-card class="form-checkbox route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col2">
        <fury-card-header>
          <fury-card-header-title>Form Checkbox</fury-card-header-title>
          <fury-card-header-sub-title>Select and deselect simply</fury-card-header-sub-title>
          <fury-card-header-actions class="actions" fxLayout="row">
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormCheckboxSource=!showFormCheckboxSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content class="content" fxLayout="column">
          <div class="source" *ngIf="showFormCheckboxSource">
            <code class="html" furyHighlight [innerHTML]="formCheckboxSource"></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">Allow for simple selecting and
            deselecting of options.</p>
            <div fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox [checked]="true">Stay signed in</mat-checkbox>
              <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
              <mat-checkbox [checked]="false" align="end">Align end</mat-checkbox>
            </div>
          </div>
        </fury-card-content>
      </fury-card>

      <fury-card class="form-checkbox-theming route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col2">
        <fury-card-header>
          <fury-card-header-title>Form Checkbox Theming</fury-card-header-title>
          <fury-card-header-sub-title>Style Components using the Theme API</fury-card-header-sub-title>
          <fury-card-header-actions>
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormCheckboxThemingSource=!showFormCheckboxThemingSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content fxLayout="column">
          <div class="source" *ngIf="showFormCheckboxThemingSource">
            <code class="html" furyHighlight [innerHTML]="formCheckboxThemingSource"></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">Style checkbox elements with the Theme
            API.</p>
            <div fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox [checked]="true" color="primary">Primary Color</mat-checkbox>
              <mat-checkbox [checked]="true" color="accent">Accent Color</mat-checkbox>
              <mat-checkbox [checked]="true" color="warn">Warn Color</mat-checkbox>
            </div>
          </div>
        </fury-card-content>
      </fury-card>

    </div>

    <div fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch"
         [fxLayoutGap]="gap">
      <fury-card class="form-select route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col3">
        <fury-card-header>
          <fury-card-header-title>Form Select</fury-card-header-title>
          <fury-card-header-sub-title>Select between multiple options</fury-card-header-sub-title>
          <fury-card-header-actions class="actions" fxLayout="row">
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormSelectSource=!showFormSelectSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content class="content" fxLayout="column">
          <div class="source" *ngIf="showFormSelectSource">
            <code class="html" furyHighlight [innerHTML]="formSelectSource"></code>
          </div>
          <div class="result" fxLayout="column" fxLayoutGap="8px">
            <p class="description" fxFlex="none">A intuitive select component that
              displays the current position you are at and has smooth animations.</p>
            <mat-form-field fxFlex="none">
              <mat-label>Favorite fruit</mat-label>
              <mat-select>
                <mat-option value="Apples">Apples</mat-option>
                <mat-option value="Peaches">Peaches</mat-option>
                <mat-option value="Bananas">Bananas</mat-option>
                <mat-option value="Mango">Mango</mat-option>
                <mat-option value="Apples">Cucumber</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="none" [color]="selectCtrl.value">
              <mat-label>Themeable Colors</mat-label>
              <mat-select [formControl]="selectCtrl">
                <mat-option value="primary">Primary Color</mat-option>
                <mat-option value="accent">Accent Color</mat-option>
                <mat-option value="warn">Warn Color</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </fury-card-content>
      </fury-card>

      <fury-card class="form-datepicker route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col3">
        <fury-card-header>
          <fury-card-header-title>Form Datepicker</fury-card-header-title>
          <fury-card-header-sub-title>Easily select a date for inputs</fury-card-header-sub-title>
          <fury-card-header-actions>
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormDatepickerSource=!showFormDatepickerSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content fxLayout="column">
          <div class="source" *ngIf="showFormDatepickerSource">
            <code class="html" furyHighlight [innerHTML]="formDatepickerSource"></code>
          </div>
          <div class="result" fxLayout="column" fxLayoutGap="16px">
            <p class="description" fxFlex="none">A Material styled Datepicker that
              allows for easy selection of any date with any format.</p>
            <mat-form-field>
              <mat-label>Select your date</mat-label>
              <input matInput
                     (click)="formDatepickerRef.open()"
                     (focus)="formDatepickerRef.open()"
                     [matDatepicker]="formDatepickerRef"
                     readonly>
              <mat-datepicker-toggle matSuffix [for]="formDatepickerRef"></mat-datepicker-toggle>
              <mat-hint>Click on the input or the datepicker icon</mat-hint>
              <mat-datepicker #formDatepickerRef></mat-datepicker>
            </mat-form-field>
          </div>
        </fury-card-content>
      </fury-card>

      <fury-card class="form-slider route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col3">
        <fury-card-header>
          <fury-card-header-title>Form Slider</fury-card-header-title>
          <fury-card-header-sub-title>Choose a value from a range</fury-card-header-sub-title>
          <fury-card-header-actions>
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormSliderSource=!showFormSliderSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content fxLayout="column">
          <div class="source" *ngIf="showFormSliderSource">
            <code class="html" furyHighlight [innerHTML]="formSliderSource"></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">An component similiar to the range input with
            better usability and drag & drop + keyboard support.</p>
            <div fxLayout="column">
              <mat-slider [min]="0" [max]="100" [step]="1" [thumbLabel]="true" [tickInterval]="10"
                          value="36"></mat-slider>
              <div fxLayout="row">
                <mat-slider fxFlex [min]="0" [max]="10" [step]="1" value="6"
                            color="primary"></mat-slider>
                <mat-slider fxFlex fxHide fxShow.gt-lg [min]="0" [max]="10" [step]="1" value="8"
                            color="accent"></mat-slider>
                <mat-slider fxFlex [min]="0" [max]="10" [step]="1" value="7" color="warn"></mat-slider>
              </div>
            </div>
          </div>
        </fury-card-content>
      </fury-card>

    </div>

    <div fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch"
         [fxLayoutGap]="gap">

      <fury-card class="form-radio route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col2">
        <fury-card-header>
          <fury-card-header-title>Form Radio Button</fury-card-header-title>
          <fury-card-header-sub-title>Let users decide between options</fury-card-header-sub-title>
          <fury-card-header-actions>
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormRadioSource=!showFormRadioSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content fxLayout="column">
          <div class="source" *ngIf="showFormRadioSource">
            <code class="html" furyHighlight [innerHTML]="formRadioSource"></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">When you need a user to decide between
            multiple options and have him only choose one, you can use a radio button.</p>
            <div style="margin-top: 12px;" fxLayout="column" fxLayoutGap="16px">
              <mat-radio-group fxLayout="row" fxLayoutGap="16px">
                <mat-radio-button value="Apples" [checked]="true">Apples</mat-radio-button>
                <mat-radio-button value="Peaches">Peaches</mat-radio-button>
              </mat-radio-group>
              <mat-radio-group fxLayout="row" fxLayoutGap="16px" color="accent">
                <mat-radio-button value="primary" [checked]="true" color="primary">Primary Color
                </mat-radio-button>
                <mat-radio-button value="accent" color="accent">Accent Color</mat-radio-button>
                <mat-radio-button value="warn" color="warn">Warn Color</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </fury-card-content>
      </fury-card>

      <fury-card class="form-slide-toggle route-animations-elements" fxFlex="grow" [fxFlex.gt-sm]="col2">
        <fury-card-header>
          <fury-card-header-title>Form Slide Toggle</fury-card-header-title>
          <fury-card-header-sub-title>Slide between two values</fury-card-header-sub-title>
          <fury-card-header-actions class="actions" fxLayout="row">
            <button class="icon" type="button" mat-icon-button matTooltip="Show Code"
                    (click)="showFormSlideToggleSource=!showFormSlideToggleSource">
              <mat-icon>code</mat-icon>
            </button>
          </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content class="content" fxLayout="column">
          <div class="source" *ngIf="showFormSlideToggleSource">
            <code class="html" furyHighlight [innerHTML]="formSlideToggleSource"></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">Allow the user to slide toggle an
            option or a value. You can either click or you can drag & drop the slide to change its
            state.</p>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxLayout="column" fxLayoutGap="8px">
                <mat-slide-toggle [checked]="false">Slide Me</mat-slide-toggle>
                <mat-slide-toggle [checked]="false">Drag & Drop</mat-slide-toggle>
                <mat-slide-toggle [checked]="true">I Agree</mat-slide-toggle>
              </div>
              <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="8px">
                <mat-slide-toggle [checked]="true" color="primary" labelPosition="before">Primary Color
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="true" color="accent" labelPosition="before">Accent Color
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="true" color="warn" labelPosition="before">Warn Color
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </fury-card-content>

      </fury-card>
    </div>
  </div>
</div>
