@import "var";

.drag-and-drop {
  background: #fff url('/assets/img/backgrounds/drag-and-drop.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
  text-shadow: 0 0 10px black;
  margin-top: $spacing*3;
}

.container {
  width: 90%;
  padding: 100px 0 0;
  margin: 0 auto;
}

.list-container {
  width: 100%;
  margin: 24px;

  mat-list-item {
    background: white;
  }

  .list {
    margin: 24px;
  }

  mat-list {
    padding-top: 0;
    max-width: 100%;
  }
}

mat-icon.left-right-compare {
  text-shadow: 0px 0px 20px #444;
  font-size: 60px;
  width: 60px;
  height: 60px;
  color: white;
}

.small-list-item {
  padding-left: 6px;
  padding-right: 16px;
}

.draggable {
  cursor: move;
  cursor: -webkit-grabbing;
}

.drag-handle {
  cursor: move;
  cursor: -webkit-grabbing;
  vertical-align: middle;
  margin-right: 8px;
}

.sortable-ghost {
  opacity: .5;
}
