<h2 mat-dialog-title>Compose Mail</h2>

<mat-dialog-content fxLayout="column">
  <mat-form-field>
    <mat-label>From</mat-label>
    <input value="davidsmith@example.com" matInput disabled>
  </mat-form-field>

  <mat-form-field>
    <mat-label>To</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Subject</mat-label>
    <input matInput>
  </mat-form-field>

  <quill-editor [style]="{ height: '100px' }"
                placeholder="Write your message"></quill-editor>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
  <button type="button" mat-icon-button>
    <mat-icon>attach_file</mat-icon>
  </button>
  <button type="button" mat-raised-button color="primary" (click)="dialogRef.close()">
    SEND
  </button>
</mat-dialog-actions>
