@import "var";

.fury-chart-widget {
  background: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  max-width: 100%;

  @include mat-elevation($card-elevation);
}

.fury-chart-widget-header {
  padding: $spacing/1.5 $spacing;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  white-space: nowrap;

  .fury-chart-widget-header-title-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .fury-chart-widget-header-title {
      @include mat-typography-level-to-styles($config, subheading-1);
      font-weight: 500;
    }

    .fury-chart-widget-header-sub-title {
      @include mat-typography-level-to-styles($config, caption);

      .mat-icon {
        width: 14px;
        height: 14px;
        font-size: 14px;
        vertical-align: text-top;
      }
    }
  }

  .fury-chart-widget-header-actions {
  }
}

.fury-chart-widget-content {
  padding: $spacing/1.5 $spacing $spacing;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
